<h1>Controls:</h1>
  <ol>
    <li>
      <label for="isLinear">
        <input type="checkbox" id="isLinear" [(ngModel)]="isLinear">
        is Linear
      </label>
    </li>
    <li>
      <label for="isVertical">
        <input type="checkbox" id="isVertical" [(ngModel)]="isVertical">
        is Vertical
      </label>
    </li>
  </ol>
<hr>
<app-stepper #stepperComponent [(selectedIndex)]="selectedIndex" [direction]="isVertical ? 'vertical' : 'horizontal'" [linear]="isLinear" [steps]="steps"></app-stepper>
<hr>
<pre><code>SelectedIndex: {{selectedIndex}}</code></pre>

<div [ngSwitch]="stepperComponent.selectedIndex">
  <ng-container *ngSwitchCase="0"> Content for 0 </ng-container>
  <ng-container *ngSwitchCase="1"> Content for 1 </ng-container>
  <ng-container *ngSwitchCase="2"> Content for 2 </ng-container>
  <ng-container *ngSwitchCase="3"> Content for 3 </ng-container>
</div>



<!--1. Steps as an object-->
<!--2. Google font icon-->
<!--3. Horizontal and Vertical direction-->
